@use '../helpers' as h;

html {
	&.is-lock {
		overflow: hidden;
	}
}

body {
	&.is-modal-open {
		overflow: hidden;
	}
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	@include h.fluid-text(15, 17);
	
	min-height: 100vh;
	margin: 0;
	
	font-family: var(--font-family-base), sans-serif;
	color: var(--color-text-primary);
	background-color: var(--color-bg-primary);
}

#root {
	min-height: 100vh;
	width: 100%;
	display: flex;
}

h1,
.h1 {
	@include h.fluid-text(24, 32);
	font-family: var(--font-family-secondary), sans-serif;
	font-weight: 700;
	color: var(--color-text-primary);
}

h2,
.h2 {
	@include h.fluid-text(20, 24);
	font-family: var(--font-family-secondary), sans-serif;
	font-weight: 600;
	color: var(--color-text-primary);
}

h3,
.h3 {
	@include h.fluid-text(18, 20);
	font-family: var(--font-family-secondary), sans-serif;
	font-weight: 600;
	color: var(--color-text-primary);
}

a {
	color: inherit;
	text-decoration: none;
	
	@include h.hover(false) {
		color: var(--color-primary);
	}
}

:focus-visible {
	outline: h.rem(2) solid var(--color-primary);
	outline-offset: h.rem(2);
	border-radius: h.rem(2);
}

button,
a,
input,
textarea,
select {
	transition-duration: var(--transition-duration);
	transition-timing-function: var(--transition-easing);
}