@use '../helpers' as h;

.create-poll-modal {
	display: flex;
	flex-direction: column;
	gap: h.rem(24);
	
	&__options {
		display: flex;
		flex-direction: column;
		gap: h.rem(12);
	}
	
	&__option-wrapper {
		position: relative;
		display: flex;
		align-items: center;
	}
	
	&__option-input {
		width: 100%;
		padding: h.rem(12) h.rem(40) h.rem(12) h.rem(16);
		border: 1px solid var(--color-border);
		border-radius: h.rem(7);
		font-size: h.rem(14);
		background-color: var(--color-background);
		color: var(--color-text-primary);
		transition: border-color 0.2s ease;
		font-family: inherit;
		
		&:focus {
			outline: none;
			border-color: var(--color-primary);
		}
		
		&::placeholder {
			color: var(--color-text-tertiary);
		}
	}
	
	&__remove-btn {
		position: absolute;
		right: h.rem(8);
		top: 50%;
		transform: translateY(-50%);
		width: h.rem(28);
		height: h.rem(28);
		border: none;
		border-radius: h.rem(6);
		background-color: var(--color-white);
		color: var(--color-text-tertiary);
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all 0.2s ease;
		
		@include h.hover {
			background-color: var(--color-danger);
			color: var(--color-white);
		}
		
		svg {
			width: h.rem(16);
			height: h.rem(16);
		}
	}
	
	&__actions {
		display: flex;
		gap: h.rem(12);
		justify-content: flex-end;
		margin-top: h.rem(8);
		padding-top: h.rem(24);
		border-top: 1px solid var(--color-border);
	}
}